<!--start footer-->
<section class="footer-section bg-section-2 section-padding">
    <div class="container">
        <div class="row row-cols-1 row-cols-lg-4 g-4">
            <div class="col">
                <div class="footer-widget-6">
                    <img src="assets/images/logo.webp" class="logo-img mb-3" alt="">
                    <h5 class="mb-3 fw-bold">Acerca De</h5>
                    <p class="mb-2">En AR ACCESORIOS, nos dedicamos con pasión a ofrecerte los mejores accesorios de
                        moda y estilo para complementar tu día a día. Nacimos con el objetivo de brindar productos de
                        calidad, a precios justos, y con una atención cálida y personalizada.</p>

                    <a class="link-dark" routerLink="/about" style="cursor: pointer;">Saber más</a>
                </div>
            </div>
            <!-- <div class="col">
                <div class="footer-widget-7">
                    <h5 class="mb-3 fw-bold">Categorías</h5>
                    <ul class="widget-link list-unstyled">
                        <li><a href="javascript:;">Fashion</a></li>
                        <li><a href="javascript:;">Women</a></li>
                        <li><a href="javascript:;">Furniture</a></li>
                        <li><a href="javascript:;">Shoes</a></li>
                        <li><a href="javascript:;">Topwear</a></li>
                        <li><a href="javascript:;">Brands</a></li>
                        <li><a href="javascript:;">Kids</a></li>
                    </ul>
                </div>
            </div> -->
            <div class="col">
                <div class="footer-widget-8">
                    <h5 class="mb-3 fw-bold">Compañia</h5>
                    <ul class="widget-link list-unstyled">
                        <li><a routerLink="/about" style="cursor: pointer;">Quienes somos</a></li>
                        <li><a routerLink="/privacity" style="cursor: pointer;">Politica de Privacidad</a></li>
                        <li><a routerLink="/terms" style="cursor: pointer;">Terminos y Condiciones</a></li>
                        <li><a routerLink="/exchange-return-policy" style="cursor: pointer;">Politica de cambios y/o devoluciones</a></li>
                        <img src="/images/reclamation_book.PNG" alt=""  style="cursor: pointer;" (click)="navigateClaims()">
                    </ul>
                </div>
            </div>
            <div class="col">
                <div class="footer-widget-9">
                    <h5 class="mb-3 fw-bold">Redes Sociales</h5>
                    <div class="social-link d-flex align-items-center gap-2">
                        <a href="https://www.facebook.com/ar.accesorios.pe/?_rdc=2&_rdr#" target="_blank"><i
                                class="bi bi-facebook"></i></a>
                        <a href="https://www.instagram.com/ar.accesorios.pe?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw%3D%3D"
                            target="_blank"><i class="bi bi-instagram"></i></a>
                        <a href="https://es.pinterest.com/araccesoriospe/" target="_blank"><i
                                class="bi bi-pinterest"></i></a>
                        <a href="http://tiktok.com/@ar.accesorios.pe?_t=8qKgVIzCUdh&_r=1" target="_blank"><i
                                class="bi bi-tiktok"></i></a>
                    </div>
                    <div class="mb-3 mt-3">
                        <h5 class="mb-0 fw-bold">Contacto</h5>
                        <p class="mb-0 text-muted"><i class="bi bi-geo-fill"></i> Los Petalos 286, Trujillo</p>
                        <p class="mb-0 text-muted"><i class="bi bi-telephone-fill"></i> +51 914 337 726</p>
                        <p class="mb-0 text-muted"><i class="bi bi-envelope"></i> contacto&#64;araccesorios.pe</p>
                    </div>
                </div>
            </div>
        </div><!--end row-->

    </div>
</section>
<!--end footer-->

<footer class="footer-strip text-center py-3 bg-section-2 border-top positon-absolute bottom-0">
    <p class="mb-0 text-muted">©2025. www.araccesorios.shop | Todos los derechos recervados.</p>
</footer>