<section class="section-padding mt-5">
    <div class="container">
        <div class="d-flex align-items-center px-3 py-2 border mb-4">
            <div class="text-start">
                <h4 class="mb-0 h4 fw-bold">Mi carrito de compras</h4>
            </div>
            <div class="ms-auto">
                <button type="button" class="btn btn-light btn-ecomm">Continuar comprando</button>
            </div>
        </div>
        <div class="row g-4">
            <div class="col-12 col-xl-8">
                @for(item of cartItems; track item){
                <div class="card rounded-0 mb-3">
                    <div class="card-body">
                        <div class="d-flex flex-column flex-lg-row gap-3">
                            <div class="product-img">
                                <img src="{{item.urlImage}}" width="150" alt="">
                            </div>
                            <div class="product-info flex-grow-1">
                                <h5 class="fw-bold mb-0">{{item.name}}</h5>
                                <div class="product-price d-flex align-items-center gap-2 mt-3">
                                    <div class="h6 fw-bold">S/.{{item.price}}</div>
                                    <!-- <div class="h6 fw-light text-muted text-decoration-line-through">$2089</div> -->
                                    <!-- <div class="h6 fw-bold text-danger">(70% off)</div> -->
                                </div>
                                <div class="mt-3 hstack gap-2">
                                    <button type="button" class="btn btn-sm btn-light border rounded-0"
                                        (click)="idProduct = item.productID??1" data-bs-toggle="modal"
                                        data-bs-target="#QtyModal">Qty :
                                        {{item.quantity}}</button>
                                </div>
                            </div>
                            <div class="d-none d-lg-block vr"></div>
                            <div class="d-grid gap-2 align-self-start align-self-lg-center">
                                <button type="button" class="btn btn-ecomm"
                                    (click)="removeProduct(item.productID??1)"><i
                                        class="bi bi-x-lg me-2"></i>Eliminar</button>
                                <!-- <button type="button" class="btn dark btn-ecomm"><i
                                        class="bi bi-suit-heart me-2"></i>Move to
                                    Wishlist</button> -->
                            </div>
                        </div>
                    </div>
                </div>
                }
            </div>
            <div class="col-12 col-xl-4">
                <div class="card rounded-0 mb-3">
                    <div class="card-body">
                        <h5 class="fw-bold mb-4">Resumen de la orden</h5>
                        <div class="hstack align-items-center justify-content-between">
                            <p class="mb-0">Sub Total</p>
                            <p class="mb-0">S/.{{invoice.grossTotal??0 | number : "1.2-2"}}</p>
                        </div>
                        <hr>
                        <div class="hstack align-items-center justify-content-between">
                            <p class="mb-0">Descuento</p>
                            <p class="mb-0 text-danger">- S/.{{invoice.totalDiscount??0 | number : "1.2-2"}}</p>
                        </div>
                        <hr>
                        <div class="hstack align-items-center justify-content-between">
                            <p class="mb-0">Igv</p>
                            <p class="mb-0 text-success">S/.{{invoice.totalIGV??0 | number : "1.2-2"}}</p>
                        </div>
                        <hr>
                        <div class="hstack align-items-center justify-content-between fw-bold text-content">
                            <p class="mb-0">Total a pagar</p>
                            <p class="mb-0">S/.{{invoice.totalGrandPrix??0 | number : "1.2-2"}}</p>
                        </div>
                        <div class="d-grid mt-4">
                            <button type="button" (click)="openCulqi()" class="btn btn-dark btn-ecomm py-3 px-5">Pagar
                                orden</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--start qty modal-->
<div class="modal" id="QtyModal" tabindex="-1">
    <div class="modal-dialog modal-sm modal-dialog-centered">
        <div class="modal-content rounded-0">
            <div class="modal-body">
                <div class="d-flex align-items-center justify-content-between">
                    <div class="">
                        <h5 class="fw-bold mb-0">Seleccionar cantidad</h5>
                    </div>
                    <div class="">
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                </div>
                <hr>
                <div class="size-chart">
                    <div class="d-flex align-items-center gap-3 flex-wrap">
                        <div class="">
                            <button type="button" (click)="quantity = 1">1</button>
                        </div>
                        <div class="">
                            <button type="button" (click)="quantity = 2">2</button>
                        </div>
                        <div class="">
                            <button type="button" (click)="quantity = 3">3</button>
                        </div>
                        <div class="">
                            <button type="button" (click)="quantity = 4">4</button>
                        </div>
                        <div class="">
                            <button type="button" (click)="quantity = 5">5</button>
                        </div>
                        <div class="">
                            <button type="button" (click)="quantity = 6">6</button>
                        </div>
                        <div class="">
                            <button type="button" (click)="quantity = 7">7</button>
                        </div>
                        <div class="">
                            <button type="button" (click)="quantity = 8">8</button>
                        </div>
                        <div class="">
                            <button type="button" (click)="quantity = 9">9</button>
                        </div>
                        <div class="">
                            <button type="button" (click)="quantity = 10">10</button>
                        </div>
                        <div class="">
                            <button type="button" (click)="quantity = 11">11</button>
                        </div>
                        <div class="">
                            <button type="button" (click)="quantity = 12">12</button>
                        </div>
                    </div>
                </div>

                <div class="d-grid mt-4">
                    <button type="button" class="btn btn-dark btn-ecomm" (click)="addProduct()">Aceptar</button>
                </div>

            </div>
        </div>
    </div>
</div>