<section class="section-padding mt-5">
    <section class="section-padding">
        <div class="container">
            <div class="row g-4">
                <div class="col-12 col-xl-12">
                    <h3 class="fw-bold">Plitica de Privacidad</h3>
                    <br>
                    <h4>Gracias por visitar nuestro sitio web</h4>
                    <p>Para AR ACCESORIOS , con sede en Trujillo, Peru, la seguridad y privacidad de tus datos son
                        importantes. Conoce cómo lo hacemos:
                    </p>
                    <h5>Informacion sobre el tratamiento de tus datos personales</h5>
                    <p style="justify-content: center;">En AR ACCESORIOS (RUC: 10706925541), con domicilio en la ciudad
                        de Trujillo, Perú, nos comprometemos a proteger la privacidad y seguridad de los datos
                        personales de nuestros clientes y usuarios. Por ello, garantizamos la absoluta confidencialidad
                        de tu información y aplicamos altos estándares de seguridad para su tratamiento.
                        Estamos legalmente autorizados a tratar la información necesaria para la ejecución de nuestra
                        relación comercial, incluyendo datos personales (como nombre, DNI, dirección de entrega, correo
                        electrónico y número telefónico), así como información de contacto y transaccional vinculada a
                        la compra y envío de productos.
                        Este tratamiento se realiza con el fin de gestionar pedidos, realizar entregas, procesar pagos,
                        atender consultas o reclamos, así como para cumplir con nuestras obligaciones legales,
                        incluyendo aquellas relacionadas con prevención de fraudes, protección al consumidor y registros
                        tributarios.
                        Para garantizar la correcta ejecución de nuestros servicios, es importante que tu información
                        esté actualizada. En ese sentido, podrás actualizar tus datos en cualquier momento y, en
                        cumplimiento del Principio de Calidad de la Ley N.º 29733, nosotros también podremos verificar y
                        complementar tu información a partir de fuentes públicas o privadas legítimas.
                    </p>
                    <p>Asimismo, para cumplir con nuestras obligaciones legales, podremos transferir tu información a
                        terceros autorizados por ley (por ejemplo, plataformas de pago, empresas de transporte o
                        autoridades regulatorias), siempre en estricto cumplimiento del marco legal vigente.
                        De acuerdo con la Ley N.º 29733 – Ley de Protección de Datos Personales y su reglamento (D.S.
                        N.º 003-2013-JUS), te informamos que tus datos personales serán almacenados en el banco de datos
                        de titularidad de AR ACCESORIOS, y serán conservados mientras se mantenga la relación comercial
                        y por un plazo adicional de hasta cinco (5) años luego de finalizada, salvo que la ley exija un
                        plazo mayor.
                        AR ACCESORIOS se reserva el derecho de actualizar esta política en caso de cambios normativos o
                        internos. Cualquier modificación será comunicada oportunamente a través de nuestro sitio web o
                        canales oficiales.
                        Puedes ejercer tus derechos de acceso, rectificación, cancelación, oposición o revocación del
                        consentimiento enviando una solicitud en la sección de libro de reclamos . Atenderemos tu
                        solicitud dentro de los plazos establecidos por la normativa vigente.
                        En caso de que tu solicitud no sea atendida adecuadamente, tienes derecho a presentar un reclamo
                        ante la Autoridad Nacional de Protección de Datos Personales, ubicada en la Mesa de Partes del
                        Ministerio de Justicia y Derechos Humanos (Calle Scipión Llona 350, Miraflores, Lima, Perú)</p>
                </div>
            </div>
        </div>
    </section>
</section>