.login-Container {
    background-color: #a30a08;
    max-width: 400px;
    margin: 20px;
    padding: 20px;
    border-radius: 20px;
}

.custom-checkbox .p-checkbox-box {
    background-color: #fff !important;
    border-color: #fff !important;

}
.p-checkbox-label {
    line-height: 1;
    color: black !important;
}