<div class="page-content">
    <!--start breadcrumb-->
    <div class="py-4 border-bottom">
        <div class="container">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb mb-0">
                    <li class="breadcrumb-item"><a href="javascript:;" (click)="navigateDetail()">Inicio</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Detalle de producto</li>
                </ol>
            </nav>
        </div>
    </div>
    <!--end breadcrumb-->
    <!--start product details-->
    <section class="py-4">
        <div class="container">
            <div class="row g-4">
                <div class="col-12 col-xl-7">
                    <div class="product-images">
                        <div class="product-zoom-images">
                            <div class="col">
                                <div class="img-thumb-container overflow-hidden position-relative"
                                    data-fancybox="gallery" [attr.data-src]="product.urlImage">
                                    <img src="{{product.urlImage}}" class="img-fluid" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-xl-5">
                    <div class="product-info">
                        <h4 class="product-title fw-bold mb-1">{{product.name}}</h4>
                        <hr>
                        <div class="product-price d-flex align-items-center gap-3">
                            <div class="h4 fw-bold">S/.{{product.price}}</div>
                            <!-- <div class="h5 fw-light text-muted text-decoration-line-through">$2089</div>
                            <div class="h4 fw-bold text-danger">(70%)</div> -->
                        </div>
                        <p class="fw-bold mb-0 mt-1 text-success">Precio real del producto</p>
                        <div class="cart-buttons mt-3">
                            <div class="buttons d-flex flex-column flex-lg-row gap-3 mt-4">
                                <a href="javascript:;" (click)="addProduct(product)" class="btn btn-lg btn-dark btn-ecomm px-5 py-3 col-lg-6"><i
                                        class="bi bi-basket2 me-2"></i>Agregar</a>
                            </div>
                        </div>
                        <hr class="my-3">
                        <div class="product-info">
                            <h6 class="fw-bold mb-3">Detalle del Producto</h6>
                            <p class="mb-1">{{product.description}}</p>
                        </div>
                    </div>
                </div>
            </div><!--end row-->
        </div>
    </section>
    <!--start product details-->
</div>