<section class="section-padding mt-5">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-6 col-xl-5 col-xxl-4 mx-auto">
                <div class="card rounded-0">
                    <div class="card-body p-4">
                        <h4 class="mb-0 fw-bold text-center">Iniciar sesión</h4>
                        <hr>
                        <div class="row g-4">
                            <div id="liveAlertPlaceholder"></div>
                            <div class="col-12">
                                <label for="exampleUsername" class="form-label">Usuario</label>
                                <input type="email" class="form-control rounded-0" id="exampleUsername" [(ngModel)]="user">
                            </div>
                            <div class="col-12">
                                <label for="examplePassword" class="form-label">Contraseña</label>
                                <input type="password" class="form-control rounded-0" id="examplePassword" [(ngModel)]="pass">
                            </div>
                            <!-- <div class="col-12">
                                <a href="javascript:;" class="text-content btn bg-light rounded-0 w-100"><i
                                        class="bi bi-lock me-2"></i>Forgot Password</a>
                            </div> -->
                            <!-- <div class="col-12">
                                <hr class="my-0">
                            </div> -->
                            <div class="col-12">
                                <button type="button" class="btn btn-dark rounded-0 btn-ecomm w-100" (click)="login()">Login</button>
                            </div>
                            <div class="col-12 text-center">
                                <p class="mb-0 rounded-0 w-100">¿No tienes una cuenta? <a href="javascript:;"
                                        class="text-danger" (click)="navigateToRegister()">Registrate</a></p>
                            </div>
                        </div><!---end row-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>