<section class="section-padding mt-5">
    <section class="section-padding">
        <div class="container">
            <div class="row g-4">
                <div class="col-12 col-xl-6">
                    <h3 class="fw-bold">Acerca de</h3>
                    <p style="justify-content: center;">En AR ACCESORIOS , nos dedicamos con pasión a ofrecerte los
                        mejores accesorios de moda y estilo
                        para complementar tu día a día. Nacimos con el objetivo de brindar productos de calidad, a
                        precios justos, y con una atención cálida y personalizada </p>
                    <p> Nos especializamos en accesorios que destacan por su diseño, funcionalidad y tendencias
                        actuales. Cada pieza es seleccionada con cuidado para que puedas expresarte, regalar o resaltar
                        tu look con confianza y originalidad.</p>
                    <p> Aunque no contamos con una tienda física, realizamos envíos seguros , para que recibas tu compra
                        en la comodidad de tu hogar. Nuestro compromiso es acompañarte en cada paso de tu experiencia de
                        compra, con un servicio confiable y cercano.</p>
                    <strong>¡Tu estilo comienza con AR ACCESORIOS!</strong>
                </div>
                <div class="col-12 col-xl-5">
                    <img src="/images/about.png" class="img-fluid" alt="">
                </div>
            </div>
        </div>
    </section>
</section>