<div class="grid card">
    <div class="col-12 md:col-12 layout-main-content-header">
        <h5>
            Productos
        </h5>
    </div>
    <div class="col-12 md:col-12">
        <p-toolbar>
            <div class="p-toolbar-group-left">
                <button pButton type="button" label="Nuevo" icon="fa fa-floppy-o" class="p-button-link mr:col-2"
                    (click)="visible=true;"></button>
            </div>
        </p-toolbar>
    </div>
    <div class="col-12 md:col-12 mt-3">
        <p-dataView #dv [value]="products" [paginator]="true" [rows]="9" filterBy="name" [sortField]="sortField"
            [sortOrder]="sortOrder" layout="grid" [loading]="loading">
            <ng-template pTemplate="header">
                <div class="flex flex-column md:flex-row md:justify-content-between gap-2">

                    <span class="p-input-icon-left">
                        <i class="pi pi-search"></i>
                        <input type="search" pInputText placeholder="Search by Name" (input)="onFilter(dv, $event)">
                    </span>
                    <p-dataViewLayoutOptions></p-dataViewLayoutOptions>
                </div>
            </ng-template>
            <ng-template let-products pTemplate="listItem">
                <div class="grid grid-nogutter">
                    <div class="col-12" *ngFor="let product of products">
                        <div class="flex flex-column md:flex-row align-items-center p-3 w-full">
                            <img [src]="product.urlImage" class="my-4 md:my-0 w-9 md:w-10rem shadow-2 mr-5" />
                            <div class="flex-1 flex flex-column align-items-center text-center md:text-left">
                                <div class="font-bold text-2xl">{{product.name}}</div>
                                <div class="flex align-items-center mt-2">
                                    <i class="pi pi-tag mr-2"></i>
                                    <span class="font-semibold">{{product.categoryName}}</span>
                                </div>
                            </div>
                            <div
                                class="flex flex-row md:flex-column justify-content-between w-full md:w-auto align-items-center md:align-items-end mt-5 md:mt-0">
                                <span
                                    class="text-2xl font-semibold mb-2 align-self-center md:align-self-end">${{product.price}}</span>
                                <td style="width: 150px; display: flex;">
                                    <p-button icon="fa fa-edit" [rounded]="true" severity="success" [outlined]="true"
                                        class="ml-2" (click)="removeEdit(product)" />
                                    <p-button icon="fa fa-trash" [rounded]="true" class="ml-2" severity="danger"
                                        [outlined]="true" (click)="removeRow(product,$event)" />
                                    <p-button icon="fa fa-percent" [rounded]="true" class="ml-2" severity="info"
                                        [outlined]="true" (click)="onShowModalPrometion(product)" />
                                </td>
                                <!-- <span
                                    [class]="'product-badge status-' + product.inventoryStatus.toLowerCase()">{{product.inventoryStatus}}</span> -->
                            </div>
                        </div>
                    </div>
                </div>
            </ng-template>
            <ng-template let-products pTemplate="gridItem">
                <div class="grid grid-nogutter">
                    <div class="col-12 md:col-4" *ngFor="let product of products">
                        <div class="card m-3 border-1 surface-border">
                            <div class="flex flex-wrap gap-2 align-items-center justify-content-between mb-2">
                                <div class="flex align-items-center">
                                    <i class="pi pi-tag mr-2"></i>
                                    <span class="font-semibold">{{product.categoryName}}</span>
                                </div>
                                <!-- <span
                                    [class]="'product-badge status-' + product.inventoryStatus.toLowerCase()">{{product.inventoryStatus}}</span> -->
                            </div>
                            <div class="flex flex-column align-items-center text-center mb-3">
                                <img [src]="product.urlImage" [alt]="product.name" class="w-9 shadow-2 my-3 mx-0" />
                                <div class="text-2xl font-bold">{{product.name}}</div>
                                <div class="mb-3">{{product.description}}</div>
                            </div>
                            <div class="flex align-items-center justify-content-between">
                                <span class="text-2xl font-semibold">S/.{{product.price}}</span>
                                <td style="width: 150px; display: flex;">
                                    <p-button icon="fa fa-edit" [rounded]="true" severity="success" [outlined]="true"
                                        class="ml-2" (click)="removeEdit(product)" />
                                    <p-button icon="fa fa-trash" [rounded]="true" class="ml-2" severity="danger"
                                        [outlined]="true" (click)="removeRow(product,$event)" />
                                    <p-button icon="fa fa-percent" [rounded]="true" class="ml-2" severity="info"
                                        [outlined]="true" (click)="onShowModalPrometion(product)" />
                                </td>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-template>
        </p-dataView>
    </div>
</div>
<p-confirmDialog />
<p-dialog [modal]="true" header="Promocionar Porducto" [(visible)]="showdialogprometion" [style]="{ width: '60rem' }">
    <span class="p-text-secondary block mb-5">Complete todos los campos</span>
    <div class="col-12 md:col-12 mt-2">
        <div class="p-fluid grid formgrid">
            <div class="col-12 md:col-4 p-field">
                <label for="nameproduct" class="font-semibold w-6rem">Nombre del Producto</label>
                <input [(ngModel)]="selectedProduct.name" readonly="true" pInputText id="nameproduct" class="flex-auto"
                    autocomplete="off" />
            </div>
            <div class="col-12 md:col-4 p-field">
                <label for="startDate" class="font-semibold w-6rem">Fecha Inicio</label>
                <p-calendar [(ngModel)]="promotionModel.startDate" appendTo="body" id="startDate" />
                <small class="p-error" *ngIf="submitted && !promotionModel.startDate">Campo requerido</small>
            </div>
            <div class="col-12 md:col-4 p-field">
                <label for="startEnd" class="font-semibold w-6rem">Fecha Fin</label>
                <p-calendar [(ngModel)]="promotionModel.endDate" appendTo="body" id="startEnd" />
                <small class="p-error" *ngIf="submitted && !promotionModel.endDate">Campo requerido</small>
            </div>
            <div class="col-12 md:col-4 p-field mt-3">
                <label for="title" class="font-semibold w-6rem">Titulo</label>
                <input pInputText [(ngModel)]="promotionModel.title" id="title" class="flex-auto" autocomplete="off" />
                <small class="p-error" *ngIf="submitted && !promotionModel.title">Campo requerido</small>
            </div>
            <div class="col-12 md:col-8 p-field mt-3">
                <label for="description" class="font-semibold w-6rem">Descripción</label>
                <input pInputText [(ngModel)]="promotionModel.description" id="description" class="flex-auto"
                    autocomplete="off" />
                <small class="p-error" *ngIf="submitted && !promotionModel.description">Campo requerido</small>
            </div>
            <div class="col-12 md:col-4 p-field mt-3">
                <label for="image" class="font-semibold w-6rem">Imagen</label>
                <input type="file" pInputText id="image" class="flex-auto" (change)="onFileSelectedfileimage($event)"
                    accept="image/*" />
                <small class="p-error" *ngIf="submitted && !promotionModel.base64Url">Campo requerido</small>
            </div>
            <div class="col-12 md:col-4 p-field mt-3">
                <label for="discount" class="font-semibold w-6rem">Descuento</label>
                <p-inputGroup>
                    <input type="number" pInputText placeholder="Price" [(ngModel)]="promotionModel.discount" />
                    <p-inputGroupAddon>%</p-inputGroupAddon>
                </p-inputGroup>
                <small class="p-error" *ngIf="submitted && !promotionModel.discount">Campo requerido</small>
            </div>
            <div class="col-12 md:col-4 p-field mt-3">
                <label for="description" class="font-semibold w-6rem">Color</label>
                <p-inputGroupAddon><p-colorPicker [(ngModel)]="promotionModel.color"
                        appendTo="body" /></p-inputGroupAddon>
                <small class="p-error" *ngIf="submitted && !promotionModel.color">Campo requerido</small>
            </div>

        </div>
    </div>
    <div class="flex justify-content-end gap-2">
        <p-button label="Cancelar" severity="secondary" (onClick)="visible = false" />
        <p-button label="Guardar" (onClick)="savePromotion()" />
    </div>

</p-dialog>

<p-dialog [modal]="true" header="Promociones" [(visible)]="showdialogprometions" [style]="{ width: '60rem' }">
    <span class="p-text-secondary block mb-5">Promociones registrados</span>
    <div class="col-12 md:col-12 mt-2">
        <p-table [value]="promotions" [tableStyle]="{ 'min-width': '50rem' }">
            <ng-template pTemplate="caption">
                <p-button label="Nueva promoción" [link]="true" (click)="newPromotion()" />
            </ng-template>
            <ng-template pTemplate="header">
                <tr>
                    <th>Título</th>
                    <th>Descripción</th>
                    <th>Descuentoth>
                    <th>Imagen</th>
                    <th>Acciones</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-promotion>
                <tr>
                    <td>{{ promotion.title }}</td>
                    <td>{{ promotion.description }}</td>
                    <td>{{ promotion.discount }}</td>
                    <td> <p-avatar [image]="promotion.imageUrl" styleClass="mr-2" size="xlarge" shape="circle" /></td>
                    <td style="width: 150px; display: flex;">
                        <p-button icon="fa fa-edit" [rounded]="true" severity="success" [outlined]="true" class="ml-2"
                            (click)="removeEditPromotion(promotion)" />
                        <p-button icon="fa fa-trash" [rounded]="true" class="ml-2" severity="danger" [outlined]="true"
                            (click)="deteletePromotions(promotion,$event)" />
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</p-dialog>

<p-dialog header="Nuevo Producto" [modal]="true" [(visible)]="visible" [style]="{ width: '40rem',height:'35rem'}">
    <span class="p-text-secondary block mb-5">Complete todos los campos.</span>
    <div class="col-12 md:col-12 mt-5">
        <div class="p-fluid grid formgrid">
            <div class="col-12 md:col-4 p-field">
                Categoria:
            </div>
            <div class="col-12 md:col-8 p-field">
                <p-dropdown [options]="categories" [(ngModel)]="selectedCategory" optionLabel="categoryName"
                    [filter]="true" filterBy="categoryName" [showClear]="true" placeholder="---Seleccione--">
                    <ng-template pTemplate="selectedItem" let-selectedOption [virtualScroll]="true"
                        [virtualScrollItemSize]="18">
                        <div class="flex align-items-center gap-2">
                            <div>{{ selectedOption.categoryName}}</div>
                        </div>
                    </ng-template>
                    <ng-template let-country pTemplate="item">
                        <div class="flex align-items-center gap-2">
                            <div>{{ country.categoryName }}</div>
                        </div>
                    </ng-template>
                </p-dropdown>
                <small class="p-error" *ngIf="submitted && !productModel.categoryID">Campo requerido</small>
            </div>
            <div class="col-12 md:col-4 p-field">
                Nombre:
            </div>
            <div class="col-12 md:col-8 p-field mt-2">
                <input pInputText id="firstName" class="flex-auto" [(ngModel)]="productModel.name" />
                <small class="p-error" *ngIf="submitted && !productModel.name">Campo requerido</small>
            </div>
            <div class="col-12 md:col-4 p-field mt-2">
                Precio:
            </div>
            <div class="col-12 md:col-8 p-field mt-2">
                <input pInputText id="firstName" class="flex-auto" [(ngModel)]="productModel.price" />
                <small class="p-error" *ngIf="submitted && !productModel.price">Campo requerido</small>
            </div>
            <div class="col-12 md:col-4 p-field mt-2">
                Stock:
            </div>
            <div class="col-12 md:col-8 p-field mt-2">
                <input pInputText id="firstName" class="flex-auto" [(ngModel)]="productModel.stock" />
                <small class="p-error" *ngIf="submitted && !productModel.stock">Campo requerido</small>
            </div>
            <div class="col-12 md:col-4 p-field mt-2">
                Imagen:
            </div>
            <div class="col-12 md:col-8 p-field mt-2">
                <input type="file" pInputText id="firstName" class="flex-auto" (change)="onFileSelected($event)"
                    accept="image/*" />
                <small class="p-error" *ngIf="submitted && !productModel.base64Url">Campo requerido</small>
            </div>
            <div class="col-12 md:col-12 p-field mt-3">
                <textarea rows="6" pInputTextarea placeholder="Content" [autoResize]="true"
                    [(ngModel)]="productModel.description"></textarea>
                <!-- <input pInputText id="firstName" class="flex-auto" [(ngModel)]="productModel.description" /> -->
                <small class="p-error" *ngIf="submitted && !productModel.description">Campo requerido</small>
            </div>
        </div>
    </div>
    <ng-template pTemplate="footer">
        <p-button label="Guardar" [outlined]="true" [loading]="loadingSaveProduct" severity="secondary"
            (onClick)="saveProduct()" />
        <p-button label="Cancelar" [text]="true" severity="secondary" (onClick)="visible = false" />
    </ng-template>
</p-dialog>